{% extends 'base.html.twig' %}

{% block body %}
    <div class="row mb-2 mt-2">
        <div class="col text-left">
            <a href="{{ path('ajouter_produit_par_un_admin') }}" class="btn btn-primary">Nouveau produit</a>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>N°</th>
            <th>Article</th>
            <th>Catégorie</th>
            <th>Domaine</th>
            <th>Marque</th>
            <th>Prix</th>
            <th>Remise</th>
            <th>tva</th>
            <!--<th>Déscription</th>-->
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for produit in listeDesArticles %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.titre }}</td>
                <td>{{ produit.categorie.titre }}</td>
                <td>{{ produit.domaine.titre }}</td>
                <td>{{ produit.marque.titre }}</td>
                <td>{{ produit.prix }} €</td>
                <td>{{ produit.remise }} %</td>
                <td>{{ produit.tva }} %</td>
                <td>
                    <div class="btn-group">
                        <div class="btn mr-1">
                            <a href="{{ path('modifier_produit_par_un_admin', {'id': produit.id}) }}" class="btn btn-warning">Modifier</a>
                        </div>
                        <div class="btn mr-1">
                            <a href="{{ path('supprimer_produit_par_un_admin', {'id': produit.id}) }}" class="btn btn-danger">Supprimer</a>
                        </div>
                        <div class="btn mr-1">
                            <a href="{{ path('ajouter_variante_photo_par_un_admin', {'id': produit.id}) }}" class="btn btn-success">Variante / photo</a>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}