{% extends 'base.html.twig' %}

{% block title %}Commandes{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}


    <h1>Vos commandes</h1>
    <br>

    {# table.table #}
    <table class="table" style="text-align: center">
        {# thead>tr>th*5 #}
        <thead>
            <tr>
                <th>Réference</th>
                <th>Date</th>
                <th>Prix TTC</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {# #}
            {% if  tableauCommandes | length == 0 %}
                <tr>
                    <td colspan="4" ><center>Aucune commande actuellement</center></td>
                </tr>
            {% endif %}

            {% for item in tableauCommandes %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.datCommande | date('d/m/Y') }}</td>

                    {% for key, value in item.getCommande() %}
                        {% if key == 'totalTTC' %}
                            <td>{{ value }}</td>
                        {% endif %}
                    {% endfor %}
                    <td>
                        <a href="{{ path('editer_facture_pdf', {'id' : item.id} ) }}" target="_blank">Editer</a> <br>
                        <a href="{{ path('afficher_facture', {'id' : item.id} ) }}">Afficher</a>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

    {# DEBOGAGE #}
    {#
        {{ utilisateur.getNomUtilisateur() }} {{ utilisateur.getPrenom() }}
        {% for item in tableauCommandes %}
            {{ dump(item) }}
            {% for key, value in item.getCommande() %}
                {{ key }} <br> {{ dump(value) }}

            {% endfor %}
            <hr>
        {% endfor %}
    #}


{% endblock %}
