{% extends 'base.html.twig' %}

{% block body %}
    <h1>VOTRE COMMANDE
        <small class="text-secondary">
            {% if  nbArticles == 1 %}
                pour {{ nbArticles }} article
            {% else %}
                pour {{ nbArticles }} articles
            {% endif %}
        </small>
    </h1>


    {# table.table #}
    <table class="table" style="text-align: center">
        {# thead>tr>th*5 #}
        <thead>
        <tr>
            <th>Produit</th>
            <th>Taille</th>
            <th>Couleur</th>
            <th>Prix</th>
            <th>Remise</th>
            <th>Prix avec remise</th>
            <th>Quantité</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for item in articles %}
            {# tr>td*5 #}
            <tr>
                <td>{{ item.article.titre }}</td>
                <td>{{ item.taille }}</td>
                <td>{{ item.couleur }}</td>
                <td>{{ item.article.prix }} €</td>
                <td>{{ item.article.remise }} %</td>
                <td>{{ item.article.prix-(item.article.prix * item.article.remise)/100 }} €</td>
                <td>{{ panier[item.id] }}</td>
                <td>{{ (item.article.prix-(item.article.prix * item.article.remise)/100) * panier[item.id] }} €</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        {# tr>td*3 #}
        <tr>
            <td colspan="7" class="text-right"><b>Total :</b></td>
            <td colspan="2"><b>{{ total }} €</b></td>
            <td></td>
        </tr>
        </tfoot>
    </table>

    <div>
        <a href="{{ path('home') }}" class="btn btn-info">Continuer vos achats </a>
        <a href="{{ app.request.headers.get('referer') }}" class="btn btn-info">Revenir à la page précédente</a>
    </div>

{% endblock %}
