{% extends 'base.html.twig' %}

{% block body %}
    <h1>VOTRE COMMANDE
        <small class="text-secondary">
            {% if  nbArticles == 1 %}
                pour {{ nbArticles }} article
            {% else %}
                pour {{ nbArticles }} articles
            {% endif %}
        </small>
    </h1>

    {# table.table #}
    <table class="table" style="text-align: center">
        {# thead>tr>th*5 #}
        <thead>
        <tr>
            <th>Produit</th>
            <th>Taille</th>
            <th>Couleur</th>
            <th>Prix</th>
            <th>TVA</th>
            <th>Remise</th>
            <th>Prix avec remise</th>
            <th>Quantité</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for item in articles %}
            {# tr>td*5 #}
            <tr>
                <td>{{ item.article.titre }}</td>
                <td>{{ item.taille }}</td>
                <td>{{ item.couleur }}</td>
                <td>{{ item.article.prix }} €</td>
                <td>{{ item.article.tva }} %</td>
                <td>{{ item.article.remise }} %</td>
                <td>{{ item.article.prix-(item.article.prix * item.article.remise)/100 }} €</td>
                <td>{{ panier[item.id] }}</td>
                <td>{{ (item.article.prix-(item.article.prix * item.article.remise)/100) * panier[item.id] }} €</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        {# tr>td*3 #}
        {#
            Prix HT* = prix TTC ÷ (1 + taux de TVA)
            Prix TTC** = prix HT x (1 + taux de TVA)
        #}
        <tr>
            <td colspan="8" class="text-right">Total HT :</td>
            <td colspan="2">{{ totalHT }} €</td>
        </tr>
        <tr>
            <td colspan="8" class="text-right">TVA :</td>
            <td colspan="2">{{ totalTTC - totalHT }} €</td>
        </tr>
        <tr>
            <td colspan="8" class="text-right"><b>Total TTC :</b></td>
            <td colspan="2"><b>{{ totalTTC }} €</b></td>
        </tr>
        </tfoot>
    </table>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <dl>
                    <dt><h4>Adresse de livraison</h4></dt>
                    <dt>{{ adreseLivraison.nomAdresse }} <span style="text-transform:uppercase">{{ adreseLivraison.prenomAdresse }}</span></dt>
                    <dt>{{ adreseLivraison.adresse }} </dt>
                    <dt>{{ adreseLivraison.ville.codePostale }} {{ adreseLivraison.ville.nomVille }} - {{ adreseFacturation.ville.pays.nom }}</dt>
                </dl>
            </div>

            <div class="col-md-6">
                <dl>
                    <dt><h4>Adresse de facturation</h4></dt>
                    <dt>{{ adreseFacturation.nomAdresse }} <span style="text-transform:uppercase">{{ adreseFacturation.prenomAdresse }}</span></dt>
                    <dt>{{ adreseFacturation.adresse }} </dt>
                    <dt>{{ adreseFacturation.ville.codePostale }} {{ adreseFacturation.ville.nomVille }} - {{ adreseFacturation.ville.pays.nom }}</dt>
                </dl>
            </div>
        </div>
    </div>

    <br>
    <div>
        <a href="{{ path('home') }}" class="btn btn-info">Continuer vos achats </a>
        <a href="{{ app.request.headers.get('referer') }}" class="btn btn-info">Revenir à la page précédente</a>
        <a href="{{ path('adresse_utilisateur', {'id': app.user.id}) }}" class="btn btn-info">Définir adresse de facturation et livraison</a>

    </div>

{% endblock %}
