<div class="container">

    <span class="bg-primary"></span>

    <div class="row ">
        <div class="col-md-4" style="text-align: left; background-color: gold">
            <img src="{{ asset('uploads/images/coquette_logo.png') }}" height="180px" style="margin-top: 0; padding: 0"
                 alt="Coquette">
        </div>
        <div class="col-md-4" style="text-align: left; background-color: gold">
        </div>
        <div class="col-md-4 py-2" style="text-align: right; background-color: gold">
            <h4>COQUETTE</h4>
            <p>18 Square Jean Lurçat <br> 91390 Morsang Sur Orge - FRANCE
            <p>0033 (06) 01 37 00 31 <br> contact@coquette.fr</p>

        </div>
    </div>

    <br> <br>

    <div class="row">
        <div class="col-md-6" style="text-align: left">
            <h1>Facture</h1>
            Pour <B><span
                        style="text-transform: uppercase">{{ commande.utilisateur.nomUtilisateur }}</span> {{ commande.utilisateur.prenom }}
            </B>
            <br>{{ commande.utilisateur.email }}
        </div>
        <div class="col-md-6" style="text-align: right">
            <h1>Numéro {{ commande.id }}</h1>
            Le {{ commande.datCommande | date('d/m/Y') }}
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-6" style="text-align: left">
            <h4>Adresse facturation</h4>
            <span style="text-transform: uppercase">{{ commande.commande.adreseLivraison.nom }} {{ commande.commande.adreseLivraison.prenom }} <br>
                {{ commande.commande.adreseLivraison.adresse }} <br>
                {{ commande.commande.adreseLivraison.cp }} {{ commande.commande.adreseLivraison.ville }} <br>
                <span style="text-transform: uppercase">{{ commande.commande.adreseLivraison.pays }}</span><br>
                {{ commande.commande.adreseLivraison.telephone }}

        </div>
        <div class="col-md-6" style="text-align: right">
            <h4>Adresse livraison</h4>
            <span style="text-transform: uppercase">{{ commande.commande.adreseFacturation.nom }}</span> {{ commande.commande.adreseFacturation.prenom }}
            <br>
            {{ commande.commande.adreseFacturation.adresse }} <br>
            {{ commande.commande.adreseFacturation.cp }} {{ commande.commande.adreseFacturation.ville }} <br>
            <span style="text-transform: uppercase">{{ commande.commande.adreseFacturation.pays }}</span> <br>
            {{ commande.commande.adreseFacturation.telephone }}
        </div>
    </div>

    <br><br>

    {# style="border: 1px solid gold " #}
    <table class="table" style="text-align: center">
        {# thead>tr>th*5 #}
        <thead class="thead-dark" style="text-align: justify-all">
        <tr>
            <th style="border: 1px solid gold ">Produit</th>
            <th style="border: 1px solid gold ">Taille</th>
            <th style="border: 1px solid gold ">Couleur</th>
            <th style="border: 1px solid gold ">P.U TTC</th>
            <th style="border: 1px solid gold ">Remise</th>
            <th style="border: 1px solid gold ">P.U TTC avec remise</th>
            <th style="border: 1px solid gold ">Quantité</th>
            <th style="border: 1px solid gold ">TVA</th>
            <th style="border: 1px solid gold ">Total HT</th>
            <th style="border: 1px solid gold ">Prix tva</th>
            <th style="border: 1px solid gold ">Total TTC</th>
        </tr>
        </thead>
        <tbody>
        {# #}
        {% for variante in commande.commande.produit %}
            <tr>
                <td style="border: 1px solid gold ">{{ variante.produit }}</td>
                <td style="border: 1px solid gold ">{{ variante.taille }}</td>
                <td style="border: 1px solid gold ">{{ variante.couleur }}</td>
                <td style="border: 1px solid gold ">{{ variante.prixTTCSansRemiseUnArticle }} €</td>
                <td style="border: 1px solid gold ">{{ variante.remise }} %</td>
                <td style="border: 1px solid gold ">{{ variante.prixTTCAvecRemiseUnArticle }} €</td>
                <td style="border: 1px solid gold ">{{ variante.Qqantite }}</td>
                <td style="border: 1px solid gold ">{{ variante.tva }} %</td>
                <td style="border: 1px solid gold ">{{ variante.prixHTSousTotalDunArticle }} €</td>
                <td style="border: 1px solid gold ">{{ variante.prixTVA }} %</td>
                <td style="border: 1px solid gold ">{{ variante.prixTTCSousTotalDunArticle }} €</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="9" class="text-right">Total HT :</td>
            <td colspan="3">{{ commande.commande.totalHT }} €</td>
        </tr>
        <tr>
            <td colspan="9" class="text-right">TVA :</td>
            <td colspan="3">{{ commande.commande.totalTVA }} €</td>
        </tr>
        <tr>
            <td colspan="9" class="text-right"><b>Total TTC :</b></td>
            <td colspan="3"><b>{{ commande.commande.totalTTC }} €</b></td>
        </tr>
        </tfoot>
    </table>
</div>
{#
{{ dump(commande) }}
{{ dump(commande.commande) }}
#}
