<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Facture</title>

    <style>
        .produis {
            border: 1px solid black;
        }
        th, td {
            border-bottom: 1px solid #ddd;
        }

        .total{

        }
    </style>

</head>
<body>




        <table class="produis" style="text-align: center">
            <thead style="background-color: #AAAAAA">
            <tr>
                <th >Produit</th>
                <th >Taille</th>
                <th >Couleur</th>
                <th >P.U TTC</th>
                <th >Remise</th>
                <th >P.U TTC avec remise</th>
                <th >Quantité</th>
                <th >TVA</th>
                <th >Total HT</th>
                <th >Prix tva</th>
                <th >Total TTC</th>
            </tr>
            </thead>
            <tbody>
            {# #}
            {% for variante in commande.commande.produit %}
                <tr>
                    <td >{{ variante.produit }}</td>
                    <td >{{ variante.taille }}</td>
                    <td >{{ variante.couleur }}</td>
                    <td >{{ variante.prixTTCSansRemiseUnArticle }} €</td>
                    <td >{{ variante.remise }} %</td>
                    <td >{{ variante.prixTTCAvecRemiseUnArticle }} €</td>
                    <td >{{ variante.Qqantite }}</td>
                    <td >{{ variante.tva }} %</td>
                    <td >{{ variante.prixHTSousTotalDunArticle }} €</td>
                    <td >{{ variante.prixTVA }} %</td>
                    <td >{{ variante.prixTTCSousTotalDunArticle }} €</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <br>
        <table class="total" align="right" width="150">
            <tr>
                <td >Total HT :</td>
                <td style="text-align: right">{{ commande.commande.totalHT }} €</td>
            </tr>
            <tr>
                <td>TVA :</td>
                <td style="text-align: right">{{ commande.commande.totalTVA }} €</td>
            </tr>
            <tr>
                <td ><b>Total TTC :</b></td>
                <td style="text-align: right"><b>{{ commande.commande.totalTTC }} €</b></td>
            </tr>
        </table>
    {#
    {{ dump(commande) }}
    {{ dump(commande.commande) }}
    #}



</body>
</html>
