<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Facture</title>

    <style>
        .produis {
            border: 1px solid black;
        }
        .thtd {
            border-bottom: 1px solid #ddd;
        }

        .total{

        }
    </style>

</head>
<body>



        <br>
        <table class="adresses"  width="100%">
            <tr>
                <td style="text-align: left"><b>Adresse de livraison</b></td>
                <td style="text-align: right"><b>Adresse de facturation</b></td>
            </tr>
            <tr>
                <td style="text-align: left">
                    <span style="text-transform: uppercase">{{ commande.commande.adreseLivraison.nom }} {{ commande.commande.adreseLivraison.prenom }} <br>
                    {{ commande.commande.adreseLivraison.adresse }} <br>
                    {{ commande.commande.adreseLivraison.cp }} {{ commande.commande.adreseLivraison.ville }} <br>
                    <span style="text-transform: uppercase">{{ commande.commande.adreseLivraison.pays }}</span><br>
                    {{ commande.commande.adreseLivraison.telephone }}
                </td>
                <td style="text-align: right">
                    <span style="text-transform: uppercase">{{ commande.commande.adreseFacturation.nom }}</span> {{ commande.commande.adreseFacturation.prenom }}
                    <br>
                    {{ commande.commande.adreseFacturation.adresse }} <br>
                    {{ commande.commande.adreseFacturation.cp }} {{ commande.commande.adreseFacturation.ville }} <br>
                    <span style="text-transform: uppercase">{{ commande.commande.adreseFacturation.pays }}</span> <br>
                    {{ commande.commande.adreseFacturation.telephone }}
                </td>
            </tr>

        </table>

        <br><br><br>

        <table class="produis" style="text-align: center">
            <thead style="background-color: #AAAAAA">
            <tr>
                <th class="thtd">Produit</th>
                <th class="thtd">Taille</th>
                <th class="thtd">Couleur</th>
                <th class="thtd">P.U TTC</th>
                <th class="thtd">Remise</th>
                <th class="thtd">P.U TTC avec remise</th>
                <th class="thtd">Quantité</th>
                <th class="thtd">TVA</th>
                <th class="thtd">Total HT</th>
                <th class="thtd">Prix tva</th>
                <th class="thtd">Total TTC</th>
            </tr>
            </thead>
            <tbody>
                {# #}
                {% for variante in commande.commande.produit %}
                    <tr>
                        <td class="thtd">{{ variante.produit }}</td>
                        <td class="thtd">{{ variante.taille }}</td>
                        <td class="thtd">{{ variante.couleur }}</td>
                        <td class="thtd">{{ variante.prixTTCSansRemiseUnArticle }} €</td>
                        <td class="thtd">{{ variante.remise }} %</td>
                        <td class="thtd">{{ variante.prixTTCAvecRemiseUnArticle }} €</td>
                        <td class="thtd">{{ variante.Qqantite }}</td>
                        <td class="thtd">{{ variante.tva }} %</td>
                        <td class="thtd">{{ variante.prixHTSousTotalDunArticle }} €</td>
                        <td class="thtd">{{ variante.prixTVA }} %</td>
                        <td class="thtd">{{ variante.prixTTCSousTotalDunArticle }} €</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>
        <table class="total" align="right" width="150">
            <tr>
                <td >Total HT :</td>
                <td style="text-align: right">{{ commande.commande.totalHT }} €</td>
            </tr>
            <tr>
                <td>TVA :</td>
                <td style="text-align: right">{{ commande.commande.totalTVA }} €</td>
            </tr>
            <tr>
                <td ><b>Total TTC :</b></td>
                <td style="text-align: right"><b>{{ commande.commande.totalTTC }} €</b></td>
            </tr>
        </table>
    {#
    {{ dump(commande) }}
    {{ dump(commande.commande) }}
    #}



</body>
</html>
