<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Facture</title>

    <style>
        @page {
            margin: 0cm 0cm;
        }

        /** Define now the real margins of every page in the PDF **/
        body {
            margin-top: 3cm;
            margin-left: 2cm;
            margin-right: 2cm;
            margin-bottom: 2cm;
        }

        /** Define the header rules **/
        header {
            position: fixed;
            top: 0cm;
            left: 0cm;
            right: 0cm;
            /* height: 2cm; */

            /** Extra personal styles **/
            background-color: black;
            color: gold;
            /* text-align: center; */
            /* line-height: 1.5cm; */
        }

        #footer {
            position: fixed;
            bottom: -60px;
            left: 0px;
            right: 0px;
            background-color: #ffffff;
            height: 50px;
        }
        #footer .page:after {
            content: counter(page, decimal);
        }

        /** Define now the real margins of every page in the PDF **/
        body {
            margin-top: 2cm;
            margin-left: 2cm;
            margin-right: 1cm;
            margin-bottom: 1cm;
        }

        .headline h1,
        .headline p {
            margin:0px;
            display: inline-block;
            padding:1em;
            vertical-align: top;
            font-family: 'Open Sans', sans-serif;
        }
        .headline h1 {
            /*font-weight: bold;*.
            /*background:#88D498;*/
        }

        .headline p{
            text-align:center;
            /*padding-right:2em;*/
            /*background:#FF4A63;*/
            float:right;
        }


        .produis {
            border: 1px solid black;
        }
        .thtd {
            border-bottom: 1px solid #ddd;
        }

        tbody tr tr{
            color: blue;
        }

    </style>

</head>
<body>
    <header>
        <div class="headline">
            <h1>Coquette</h1>
            <p>
                18 Square Jean Lurçat <br>
                91390 Morsang Sur Orge - France <br>
                omarchahidi@gmail.com <br>
                06 01 37 00 31
            </p>
        </div>
    </header>
    <br><br>
    <main>

        <table style="text-align: center"  width="550" align="center">
            <tr>
                <td></td>
                <td>
                    <h1>
                        Facture pour <span style="text-transform: uppercase">{{ commande.utilisateur.nomUtilisateur }}</span> {{ commande.utilisateur.prenom }}
                    </h1>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Page</td>
                <td>Date</td>
                <td>Référence</td>
            </tr>
            <tr>
                {#
                {{ PAGE_NUM }} / {{ PAGE_COUNT  }}
                #}
                <td style="color: blue">1 </td>
                <td style="color: blue">{{ commande.datCommande | date('d/m/Y') }}</td>
                <td style="color: blue">{{ commande.id }}</td>
            </tr>
        </table>

        <br>
        <br>
        <table class="adresses"  width="100%">
            <tr>
                <td style="text-align: left"><b>Adresse de livraison</b></td>
                <td style="text-align: right"><b>Adresse de facturation</b></td>
            </tr>
            <tr>
                <td style="text-align: left; color: blue">
                    <span style="text-transform: uppercase">{{ commande.commande.adreseLivraison.nom }} {{ commande.commande.adreseLivraison.prenom }} <br>
                    {{ commande.commande.adreseLivraison.adresse }} <br>
                    {{ commande.commande.adreseLivraison.cp }} {{ commande.commande.adreseLivraison.ville }} <br>
                    <span style="text-transform: uppercase">{{ commande.commande.adreseLivraison.pays }}</span><br>
                    {{ commande.commande.adreseLivraison.telephone }}
                </td>
                <td style="text-align: right; color: blue">
                    <span style="text-transform: uppercase">{{ commande.commande.adreseFacturation.nom }}</span> {{ commande.commande.adreseFacturation.prenom }}
                    <br>
                    {{ commande.commande.adreseFacturation.adresse }} <br>
                    {{ commande.commande.adreseFacturation.cp }} {{ commande.commande.adreseFacturation.ville }} <br>
                    <span style="text-transform: uppercase">{{ commande.commande.adreseFacturation.pays }}</span> <br>
                    {{ commande.commande.adreseFacturation.telephone }}
                </td>
            </tr>

        </table>

        <br><br><br>

        <table class="produis" style="text-align: center" width="100%">
            <thead style="background-color: #AAAAAA">
            <tr>
                <th class="thtd">Produit</th>
                <th class="thtd">Taille</th>
                <th class="thtd">Couleur</th>
                <th class="thtd">P.U TTC</th>
                <th class="thtd">Remise</th>
                <th class="thtd">P.U TTC avec remise</th>
                <th class="thtd">Quantité</th>
                <th class="thtd">TVA</th>
                <th class="thtd">Total HT</th>
                <th class="thtd">Prix tva</th>
                <th class="thtd">Total TTC</th>
            </tr>
            </thead>
            <tbody>
                {# #}
                {% for variante in commande.commande.produit %}
                    <tr>
                        <td class="thtd" style="color: blue">{{ variante.produit }}</td>
                        <td class="thtd" style="color: blue">{{ variante.taille }}</td>
                        <td class="thtd" style="color: blue">{{ variante.couleur }}</td>
                        <td class="thtd" style="color: blue">{{ variante.prixTTCSansRemiseUnArticle }} €</td>
                        <td class="thtd" style="color: blue">{{ variante.remise }} %</td>
                        <td class="thtd" style="color: blue">{{ variante.prixTTCAvecRemiseUnArticle }} €</td>
                        <td class="thtd" style="color: blue">{{ variante.Qqantite }}</td>
                        <td class="thtd" style="color: blue">{{ variante.tva }} %</td>
                        <td class="thtd" style="color: blue">{{ variante.prixHTSousTotalDunArticle }} €</td>
                        <td class="thtd" style="color: blue">{{ variante.prixTVA }} %</td>
                        <td class="thtd" style="color: blue">{{ variante.prixTTCSousTotalDunArticle }} €</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>
        <table class="total" align="right" width="150">
            <tr>
                <td >Total HT :</td>
                <td style="text-align: right; color: blue">{{ commande.commande.totalHT }} €</td>
            </tr>
            <tr>
                <td>TVA :</td>
                <td style="text-align: right; color: blue">{{ commande.commande.totalTVA }} €</td>
            </tr>
            <tr>
                <td ><b>Total TTC :</b></td>
                <td style="text-align: right; color: blue"><b>{{ commande.commande.totalTTC }} €</b></td>
            </tr>
        </table>
        {#
        {{ dump(commande) }}
        {{ dump(commande.commande) }}
        #}

        <p style="page-break-after: always;">
            Content Page 1
        </p>
        <p style="page-break-after: never;">
            Content Page 2
        </p>

    </main>

</body>
</html>
